.tv-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 19rem);
    grid-gap: 5rem;
    justify-content: center;
    padding: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    
    overflow-y: scroll;
    border: solid black thick;
    border-radius: 25px;
}

.tv-card-grid .card {
    border: black solid 4px;
    border-radius: 12px;
    padding: 1rem;
    background-color: cyan;
    height: 12rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(10px 10px CornflowerBlue);    
    margin-bottom: -2rem;
    
    position: relative;
    top: -2rem;
}

.tv-card-grid .card .card-text {
    display: flex;
    flex-direction: column;
    background-color: orange;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;

    width: 9.75rem;
    height: 12rem;
    border-top: 3px black solid;
    border-bottom: 3px black solid;
    border-right: 3px black solid;
}

.tv-card-grid .card .card-text .title {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Monaco, monospace;
    letter-spacing: -1px;
    line-height: 1.75rem;
    color: black;
    white-space: pre ;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;

    border-bottom: 2px solid black;
}

.tv-card-grid .card .card-text .rating {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Monaco, monospace;
    letter-spacing: -1px;
    line-height: 50px;
    color: black;
}

.tv-card-grid .card .card-text .favorite-episode {
    font-size: 1rem;
    font-weight: 600;
    font-family: Monaco, monospace;
    letter-spacing: -1px;
    line-height: 1rem;
    white-space: pre;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tv-card-grid .card .card-text .comment {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Monaco, monospace;
    letter-spacing: -1px;
    line-height: 50px;
    color: black;
}

.tv-card-grid .card .img-container {
    height: 12rem;
    width: 7rem;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 3px black solid;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.tv-card-grid .card .img-container .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 7.5px;
    border-top-left-radius: 7.5px;
}

::-webkit-scrollbar {
    width: 17px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #E10098;
    border-left: solid black 4px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    border-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;  
    background-color: cyan;
    border-left: solid black 4px;
}

.genre-button {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: Monaco, monospace;
    letter-spacing: -1px;
    line-height: 1.25rem;
    color: black;
    padding: 0.5rem;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: -10px;
    white-space: pre;

    border: black 3px solid;
    border-radius: 10px;
    background-color: cyan;
    filter: drop-shadow(4px 4px CornflowerBlue);  
}

.genre-for-card {
    font-size: 1rem;
    font-weight: 600;
    font-family: Monaco, monospace;
    letter-spacing: -1px;
    line-height: 1rem;
    color: black;
    padding: 0.25rem;
    margin: 2px;
    white-space: pre;

    border: black 2px solid;
    border-radius: 10px;
    background-color: cyan;
}