.text-filter-bar {
    margin-left: 36px;
    margin-right: 36px;
}

.tv-card-grid-container {
    height: 100%;
    flex: 2 2 0;
    display: flex;
}

.tv-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 19rem);
    grid-gap: 5rem;
    justify-content: center;

    flex: 1 1 0;
    padding: 3rem 1rem;

    border: solid black thick;
    border-radius: 25px;
    overflow-y: scroll;
}

.tv-card-grid .card {
    border: black solid 4px;
    border-radius: 12px;
    padding: 1rem;
    background-color: cyan;
    height: 12rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(10px 10px CornflowerBlue);    
    margin-bottom: -2rem;
    
    position: relative;
    top: -2rem;
}

.tv-card-grid .card .card-text {
    display: flex;
    flex-direction: column;
    background-color: orange;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;

    width: 9.75rem;
    height: 12rem;
    border-top: 3px black solid;
    border-bottom: 3px black solid;
    border-right: 3px black solid;
}

.tv-card-grid .card .card-text .title {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Monaco, monospace;
    letter-spacing: -1px;
    line-height: 1.75rem;
    color: black;
    white-space: pre ;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;

    border-bottom: 2px solid black;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tv-card-grid .card .card-text .title.long {
    justify-content: flex-start;
}

.tv-card-grid .card .card-text .title .highlighted {
    color: cyan;
}

.tv-card-grid .card .card-text .rating {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Monaco, monospace;
    letter-spacing: -1px;
    line-height: 50px;
    color: black;
}

.tv-card-grid .card .card-text .favorite-episode {
    font-size: 1rem;
    font-weight: 600;
    font-family: Monaco, monospace;
    letter-spacing: -1px;
    line-height: 1rem;
    white-space: pre;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tv-card-grid .card .card-text .comment {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Monaco, monospace;
    letter-spacing: -1px;
    line-height: 50px;
    color: black;
}

.tv-card-grid .card .img-container {
    height: 12rem;
    width: 7rem;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 3px black solid;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.tv-card-grid .card .img-container .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 7.5px;
    border-top-left-radius: 7.5px;
}

.tv-ratings .page-title {
    font-size: 65px;
    line-height: 65px;
    font-weight: 700;
    letter-spacing: -5.5px;
    color: var(--text-color);
    margin-top: 30px;
    white-space: nowrap;
}

.tv-ratings .top-level-button-container {
    margin: 3rem 0;
}

.tv-ratings ::-webkit-scrollbar {
    width: 17px;
}
  
.tv-ratings ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #E10098;
    border-left: solid black 4px;
}
  
.tv-ratings ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    border-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;  
    background-color: cyan;
    border-left: solid black 4px;
}

.button-bars-container {
    display: flex;
    flex-direction: row;

    min-height: 142px;
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
}

.buttons-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-bar.sort {
    max-width: 134px; 
}

.buttons-bar .label {
    font-size: 1.25rem;
    line-height: 1.25rem;
    letter-spacing: -1px;
    font-weight: 600;
    font-family: Monaco, monospace;
    color: black;
    margin-right: 1rem;
    margin-bottom: 4px;
}

.buttons-bar .button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 0.5rem;
    align-items: center;
    align-content: center;
    justify-content: center;

    height: 100%;
    width: 90%;
    padding: 8px 0;
    border: 5px black solid;
    border-radius: 25px;

    overflow-y: auto;
    flex: 1 1 0;
    align-content: flex-start;
}

.selectable-button {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: Monaco, monospace;
    letter-spacing: -1px;
    line-height: 1.25rem;
    white-space: wrap;
    color: black;

    padding: 0.5rem;
    margin-right: 5px;
    margin-left: 5px;

    border: black 3px solid;
    border-radius: 10px;
    filter: drop-shadow(4px 4px CornflowerBlue);  
}

.selectable-button.unselected {
    background-color: cyan;
}

.selectable-button.selected {
    background-color: orangered;
}

.tv-show-data-container {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    flex: 1 1 0;

    width: 90%;
    height: 1px;
    margin: 0 5% 3rem;
}

.tv-show-data-container .left-side-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;

    flex: 1 1 0;
    height: 100%;
    margin-right: 1rem;
}

.card .genres-section {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;

    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 2px;
    flex: 2;
}

.card .genres-section .genre-chiclet {
    font-size: 1rem;
    font-weight: 600;
    font-family: Monaco, monospace;
    letter-spacing: -1px;
    line-height: 1rem;
    color: black;
    padding: 0.25rem;
    margin: 2px;
    white-space: pre;

    border: black 2px solid;
    border-radius: 10px;
    background-color: cyan;
}

.genres-diagram-section {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

.genres-diagram-section .label {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: Monaco, monospace;
    letter-spacing: -1px;
    line-height: 1.25rem;
    color: black;
    margin-bottom: 0.5rem;
}

.genres-diagram-section .chord-diagram-container {
    border: 5px solid black;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
}