#root {
  text-align: center;
  --background-color: white;
  --text-color: black;
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
}

.home-button {
  position: absolute;
  top: 88vh;
  left: 50%;
  margin-left: -28px;
  height: 56px;
  width: 56px;
  border: 1px white solid;
  background-color: var(--background-color);
  border-radius: 56px;
}

.page-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 65px;
  line-height: 65px;
  font-weight: 700;
  letter-spacing: -5.5px;
  color: var(--text-color);  
  margin-top: 30px;
  white-space: nowrap;
}

.header .visible-letters,
.header .hidden-letters {
  display: inline;
}

.header .hidden-letters {
  visibility: hidden;
}

.searchbox {
  width: 50vw;
  display: flex;
  align-self: center;
  padding: 1rem;
  border: 4px black solid;
  border-radius: 36px;
  background-color: cyan;
  filter: drop-shadow(10px 10px CornflowerBlue);

  font-size: 24px;
  font-family: Monaco, monospace;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -2px;
  color: black;
}

.search-related-button {
  height: 45px;
  width: 45px;
}