.about-me .page-title {
    font-size: 65px;
    line-height: 65px;
    font-weight: 700;
    letter-spacing: -5.5px;
    color: var(--text-color);
    margin-top: 30px;
    white-space: nowrap;
}

.about-me .page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 0px;
    height: 100%;
}

.about-me .links,
.about-me .sections {
    margin-right: 10px;
}

.about-me .links,
.about-me .sections .about-me-section {
    background-color: cyan;
    border: 4px black solid;
    filter: drop-shadow(10px 10px CornflowerBlue);
    border-radius: 12px;
}

.about-me .page-content .links {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: calc(100% - 25px);

    margin-top: 30px;
    margin-bottom: 20px;
}

.about-me .page-content .links a {
    font-size: 35px;
    line-height: 60px;
    font-weight: 600;
    letter-spacing: -3.5px;
}

.about-me .sections {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    margin-bottom: 30px;
    margin-right: 10px;
    height: 100%;
}

.about-me .about-me-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    
    width: fit-content;
    height: calc(100% - 10px);
    
    margin: 0 10px;
}

.about-me .school-header,
.about-me .music-header,
.about-me .hobbies-header {
    font-size: 35px;
    line-height: 35px;
    font-weight: 600;
    letter-spacing: -3.5px;
    color: black;
    
    background-color: orange;
    border-radius: 8px 8px 0 0;
    border-bottom: black 4px solid;

    padding: 10px;
    z-index: 3;
}  

.about-me .school {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    width: 100%;
    height: 100%;
}

.about-me .school .school-image {
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.about-me .school .school-information {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 0;
    height: 100%;
    flex: 1 1 0;
    padding: 10px;
    z-index: 1;

    overflow-y: auto;
}

.about-me .school .location-and-time {
    font-size: 25px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: -2px;
    margin-bottom: 10px;
}

.about-me .school .student-info,
.about-me .school .activities {
    margin-bottom: 10px;
}

.about-me .school .favorite-classes {
    flex: 1 1 0;  
    display: flex;
    flex-direction: column;
}

.about-me .school .student-info,
.about-me .school .activities,
.about-me .school .favorite-classes {
    background-color: rgba(78, 42, 132, 0.815);
    border-radius: 12px;
    min-height: 0;
}

.about-me .school .student-info .degree,
.about-me .school .student-info .major,
.about-me .school .activities,
.about-me .school .favorite-classes .title {
    font-size: 25px;
    line-height: 25px;
    font-weight: 525;
    letter-spacing: -2.5px;
    color: white;
    text-shadow: black 1px 1px;
    padding: 5px;
}

.about-me .school .minor {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: -2px;
    color: white;
    text-shadow: black 1px 1px;
    padding: 0px 5px 5px 5px;
}

.about-me .school .major-section {
    display: flex;
    justify-content: space-evenly;
}

.about-me .music {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.about-me .music .guitars-image {
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.about-me .music .music-sections {
    flex: 1 1 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 0;
    margin: 10px 0;
}

.about-me .music .background,
.about-me .music .favorites {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;
    
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    padding: 10px;
    margin: 0 20px;
}

.about-me .music .favorites {
    margin-top: 10px;
    height: 100%;
}

.about-me .music .background .title,
.about-me .music .favorites .title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 525;
    letter-spacing: -3px;
    color: white;
    text-shadow: black 1px 1px;
}

.about-me .music .background .content {
    line-height: 20px;
    color: white;
    flex: 1 1 0;
}

.about-me .music .favorites .lists,
.about-me .school .favorite-classes .classes-section {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 10px 10px 10px;
    flex: 1 1 0;
    overflow-y: auto;
}

.about-me .music .favorites .lists .songs,
.about-me .music .favorites .lists .artists,
.about-me .school .favorite-classes .section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.about-me .music .favorites .lists .songs .title,
.about-me .music .favorites .lists .artists .title,
.about-me .school .favorite-classes .section-title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 450;
    letter-spacing: -2px;
    color: white;
    text-shadow: black 1px 1px;
    margin-bottom: 5px
}

.about-me .music .favorites .lists .songs .song,
.about-me .music .favorites .lists .artists .artist,
.about-me .school .favorite-classes .class {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-bottom: 5px;
}

.about-me .music .favorites .lists .songs .song:last-child,
.about-me .music .favorites .lists .artists .artist:last-child {
    margin-bottom: 0;
}

.about-me .hobbies {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    width: 100%;
    height: 100%;
    min-height: 0;
}

.about-me .hobbies .hobbies-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 10px;
    padding: 5px;
    flex: 1 1 0;
}

.hobby {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color: black;
    padding: 5px;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
}

.hobby .hobby-name {
    font-size: 25px;
    line-height: 25px;
    font-weight: 450;
    letter-spacing: -2px;
    width: 100%;
}

.hobby .image-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.hobby img {
    padding: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 30px;
    object-fit: cover;
}

.running-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-top: 10px;
    width: calc(100% - 22px);
    height: calc(100% - 20px);

    border: 1px black solid;
    border-radius: 20px;
}

.running-stats .stat {
    white-space: pre-wrap;
}